/* cursor: pointer for all the images in the web page */
img{
    cursor: pointer;
}

/* Sliding Options Start */
#slider{
    overflow: hidden;
    position: relative;
    top: 30px;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 25s slider infinite;
}
#slider figure div {
    height: 36px;
    float: left;
    width: 20%;
    text-align: center;
    text-size-adjust: 100%;
    color: rgb(18, 40, 76);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 36px;
    background-color: rgb(215, 235, 242);
}

#slider figure div:hover{
    cursor: pointer;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    80%{
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
/* Sliding Options End */

/* Product Sliding Start */
.slider {
    width: 100%;
    height: 520px;
    margin-bottom: 0;
    overflow: hidden;
}

.slides {
    width: 700%;
    height: 350px;
    display: flex;
}

.slides input {
    display: none;
}


.slide {
    width: 14.28%;
    transition: 2s;
}

.slide img {
    width: 100%;
}

.slide img:hover{
    cursor: pointer;
}



#radio1:checked~#MakeItSlide {
    margin-left: 0;
}

#radio2:checked~#MakeItSlide {
    margin-left: -14.28%;
}

#radio3:checked~#MakeItSlide {
    margin-left: -28.56%;
}

#radio4:checked~#MakeItSlide {
    margin-left: -42.84%;
}
/* Product Sliding End */

/* BestSeller Start*/
#slide-explore {
    width: 90%;
    margin: auto;
}

#slide-above {
    text-align: center;
    font-size: 30px;
    color: #12284c;
    font-weight: 400;
}

.slide-child {
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    /* flex-grow: 5; */
    display: none;
} 

.slide-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.slide-child img {
    height: 200px;
    width: 75%;
}

.slide-child img~p {
    font-size: 14px;
    color: #8b8c8b;
}

.slide-child p:nth-child(3) {
    font-weight: 300;
}

.slide-child img+p {
    color: #12284c;
    letter-spacing: .2px;
    font-weight: 300;
}

#slide-leftarrow button, #slide-rightarrow button {
    background: transparent;
    border: none;
    height: 50px;
    font-size: 70px;
    color: gray;
}

#slide-leftarrow button:hover{
    cursor: pointer;
}

#slide-rightarrow button:hover{
    cursor: pointer;
}
/* BestSeller End */


/* Befor EXPLORE THE CACHE VOLUME II Slide Start */
#lipstick {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 50px auto;
}

#lipstick-content{
    text-align: justify; /* For Edge */
    text-align-last: end;
    display: block;
    margin: auto;
}

#lipstick-content-cache{
    text-align: justify; /* For Edge */
    text-align-last: end;
    display: block;
    margin: auto;
}

#lipstick-content p:nth-child(1){
    margin-left: 30%;
}

#lipstick-content p:nth-child(2){
    margin-left: 30%;
}

#lipstick div img {
    width: 100%;
    height: 500px;
}

#lipstick div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#lipstick div p:nth-child(1) {
    color: #12284c;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    width: 70%;
    font-weight: 700;
    margin-bottom: 0;
}

#lipstick div p:nth-child(2) {
    color: #8b8c8b;
    font-size: 20px;
    max-width: 70%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#lipstick div p:nth-child(3) {
    color: #12284c;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    margin-left: 84%;
    width: fit-content;
    text-align: justify; /* For Edge */
    text-align-last: end;
}

#lipstick div p:nth-child(3):hover{
    cursor: pointer;
}

#lipstick div p:nth-child(3):active{
    color: orange;
    cursor: pointer;
}

#image43{
    display: block;
    margin: auto;
}
/* Befor EXPLORE THE CACHE VOLUME II Slide End */


/* Middle Image EXPLORE THE CACHE VOLUME II Start */
       
.container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 70vh;
  }

  .container p:nth-child(1){
    font-size: 60px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container p:nth-child(2){
    font-size: 20px;
    font-weight: thin;
    margin-top: 0;
    margin-bottom: 2px;
  }

  .container p:nth-child(4){
    display: block;
	text-transform: none; 
	max-width: 35em;
	margin: 0.5em auto;
	letter-spacing: 0;
	font-size: 110%;
	line-height: 1.3;"
  }
  .container img{
    width: 100%;
    height: 300px;
    overflow: clip;
    overflow-clip-margin: content-box;
  }

  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-synthesis: none;
  }
  /* Middle Image EXPLORE THE CACHE VOLUME II End */
       
  
