@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* locally change so that it can be merged to main branch */
.containerHeader {

    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
}

.navFlex {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    width: 200px;


}

ul {
    display: flex;

}

ul li {
    list-style: none;

}


ul li a {
    text-decoration: none;
    padding: 15px;
    color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    opacity: .5;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 24px;
    font-weight: 300;
}

ul li a:hover {
    color: black;
    opacity: 1;
    /* display: none; */
}

#nav {
    display: none;
}



.df {
    display: flex;
}

.df img {
    width: 30px;
    margin: auto;
    object-fit: contain;
}




.tag {
    text-align: center;
    justify-content: center;
    text-decoration: blink;
    color: black;
    padding: 0 20px;
    font-size: 13px;
    display: grid;
}

input {
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid #ccc;
    opacity: .5;

}


.homePage {
    background-color: #ccc;

    color: red;
}

.homePage p {
    margin: 3rem;
    margin-top: 10rem;
}

@media only screen and (max-width:1200px) {

    .navFlex{
        display: block;
    }
}


@media only screen and (max-width: 768px){

    #nav{
        display: block;
        top: 10px;
        font-size: 24px;
        position: fixed;
        cursor: pointer;
    }
  ul{
        display: none;
    }
    .bt {
        display: block;
    
    }
    .m_logo{
        display: flex;
        justify-content: center;
        
        width: 100%;
    }
    
}

@media only screen and (max-width: 500px){
    

    .left img, input{
        display:none;
    }
    .df{
        display: flex;
    }
    
    
}