       

*{
    font-family: 'Open Sans';
     box-sizing: border-box;
     text-align: center;
     color: #fff;
     font-family: 'Montserrat', sans-serif;
     margin-top: 10%;
   }
   body{
    margin-top: 80px;
   }
      .Big_Container{
       height: 100vh;
    width: 100%;
     
     margin: 0;
     padding: 0; 
      }
   
    
    
   
   figure{
       margin: 0;
     position: relative;
   }
     
       
   video{
     width: 100%;
     max-width: 100%;
       }
   .stretch{
       height: 100px;
     background: rgb(227, 213, 205);
     min-height: 50%;
     min-width: 100%;
     background-size: cover;
     margin-top: 500px;
   }
     
    .stretch>h1{
         padding: 20px;
         color: rgb(233, 167, 96);
        margin-top: 10%;
        margin-left: 35%;
        font-size: 70px;
        position: absolute;
       top: 20px;
       
       border-right: 3px solid #fff;
          
     }
     .stretch>img{
        width: 100%;
     }
     .stretch2>p{
       position: bottom;
       width: 600px;
       font-size: larger;
      text-align: left;
       border: none;
      color: #846838;
       padding: 20px;
        background-color: rgb(189, 182, 177);
        margin-top: 15%;
        margin-bottom: 150px;
        margin-left: 450px;
         
     }
     
   
   .hero-wrapper{
     position: fixed;
     bottom: 0;
     right: 0;
     height: auto;
     width: auto;
     min-height: 100%;
     min-width: 100%;
     z-index: -9999;
   }
   #redmit{
     display: flex;
     justify-content: space-around;
     background-color: #846838;
     width: 100%;
   height:50px;
   background-color: #79643f;
   text-align: center;
   padding: 15px;
   margin-bottom: 5px;
   }
   
   
   .scroll-left {
       height: 50px;	
       overflow: hidden;
       position: top;
       width: 100%;
    
   background-color: rgb(171, 208, 213);
   text-align: center;
     
   font-family: 'Montserrat', sans-serif;
      }
      .scroll-left p {
       
       font-size: 20px;
       width: 100%;
       height: 100%;
       margin: 0;
       line-height: 50px;
        
       /* Starting position */
       -moz-transform:translateX(100%);
       -webkit-transform:translateX(100%);	
       transform:translateX(100%);
       /* Apply animation to this element */	
       -moz-animation: scroll-left 15s linear infinite;
       -webkit-animation: scroll-left 15s linear infinite;
       animation: scroll-left 15s linear infinite;
      }
      /* Move it (define the animation) */
      @-moz-keyframes scroll-left {
       0%   { -moz-transform: translateX(100%); }
       100% { -moz-transform: translateX(-100%); }
      }
      @-webkit-keyframes scroll-left {
       0%   { -webkit-transform: translateX(100%); }
       100% { -webkit-transform: translateX(-100%); }
      }
      @keyframes scroll-left {
       0%   { 
       -moz-transform: translateX(100%); /* Browser bug fix */
       -webkit-transform: translateX(100%); /* Browser bug fix */
       transform: translateX(100%); 		
       }
       100% { 
       -moz-transform: translateX(-100%); /* Browser bug fix */
       -webkit-transform: translateX(-100%); /* Browser bug fix */
       transform: translateX(-100%); 
       }
      }
     

      .henna>img{
        width: 1500px;
       
      }
      .container {
     
     
    background-color: #101669;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
       padding: 20px;
       margin-bottom: 5px;
      gap: 20px;
      
     
    }
    
    
    .flex-item {
     
    padding: 10pxpx;
    background-color: #fff;
     border-radius: 5px;
    text-align:left;
      height:70%;
     width:100%;
     box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    }
    
    .flex-item img {
     width: 100%;
      height: 100%;
    }
    
    .flex-item h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
      text-align: left;
    }
    
    .flex-item p {
     font-size: 16px;
     text-align: left;
     font-family: 'Montserrat', sans-serif;
    }
    
    .flex-item button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #bebab1;
    color: rgb(138, 89, 15);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
      
    }
    
    .flex-item button:hover {
    background-color:rgb(211, 165, 67);
    }
    
       
   